langchain
langchain_community
langchain_openai
python-dotenv
streamlit
langchain_experimental
sentence-transformers
langchain_chroma
langchainhub
unstructured
langchain_unstructured
chromadb
langchain-google-genai
google-generativeai
pysqlite3-binary
