streamlit
langchain
langchain-chroma
langchain-google-genai
langchain-unstructured
google-generativeai
pysqlite3-binary
python-dotenv
pysqlite3-binary
chromadb
langchain-chroma
langchain-unstructured
unstructured[pdf]

